.loginformspace{
    border: white 1px solid;
    box-shadow: 5px 5px 5px inset lightblue;
    height: 450px;
    width: 400px;    
}

.container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}